<main class="content">
        <img src="https://i.pinimg.com/564x/e3/73/c9/e373c99f3c4b1897f70f51983a14ce8e.jpg" alt="Adisorn Picture" width="300" height="300">
    <hr>
    <div id="about_me">
        <h1>
            About Me
        </h1>
            <p>
            Name: Adisorn Parama <br>
            Birth: 06 AUG. 2004's <br>
            </p>
        <hr> 
    </div>
    <div id="contract">
        <h1>
            Contract
        </h1>
            <p>
            Tel: 0908936684 <br>
            Line: 0908936684 <br>
            Email: adisorn.safe01@gmail.com <br>
            Facebook: Adisorn Parama <br>
            Instragram: p._.adisorn
            </p>
    </div>
    <hr>
    <div id="skills">
        <h1>Skills</h1>
        <p>
        Compettitive Programming <br>
        Game Developer <br>
        Robotic <br>
        UX/UI designer (beginner) <br>
        </p>
    </div>
    <hr>
    <div id="programing_language">
        <h1>Programming Languages</h1>    
        <p>
            C <br>
            C++ <br>
            C# <br>
            CSS <br>
            HTML <br>
            Python <br>
            Javascript
        </p>
    </div>
    <hr> 
    <div id="education">
        <h1>Education</h1>
        <p>
            2010-2016: Anuban Dongmahawan School <br>
            2016-2022: Princess Chulabhron Science High School Chiangrai <br>
            2023-Now: CPE KMUTT
        </p>
    </div>